@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: -0.025em;
}
html{ 
  overflow-x: hidden;
}
html,
body {
  height: 100%;
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
}

.color-green {
  color: #2c8d6f;
}
.color-red {
  color: rgb(135, 66, 66);
}
.color-blue {
  color: rgb(70, 210, 228);
}
.color-yellow {
  color: rgb(187, 187, 115);
}

/* wrap */
#wrap {
  width: 100%;
  height: 100%;
}

/* header */
#header {
  width: 100%;
  height: 100%;
  padding: 0 120px;
  color: #fff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.549) 0%,
      rgb(0, 0, 0) 100%
    ),
    url(../img/bg.jpg);
  background-blend-mode: multiply;
}
#header .date-area {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .date-area > * {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
#header .tit-area {
  height: calc(100% - 30vh);
  font-size: 80px;
  font-weight: 500;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(255,255,255,1)"><path d="M24 12L18.3431 17.6569L16.9289 16.2426L21.1716 12L16.9289 7.75736L18.3431 6.34315L24 12ZM2.82843 12L7.07107 16.2426L5.65685 17.6569L0 12L5.65685 6.34315L7.07107 7.75736L2.82843 12ZM9.78845 21H7.66009L14.2116 3H16.3399L9.78845 21Z"></path></svg>');
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
#header .tit-area > p {
  font-size: 2vh;
  font-weight: 300;
}
#header .tit-area > p > span {
  font-size: 3vh;
  font-weight: 500;
}
#header .tit-area > h2 {
  position: relative;
  font-size: 12vh;
  font-weight: 700;
}
#header .tit-area > h2 > span {
  position: static;
  display: inline-block;
  transform: rotate(-10deg);
}
#header .tit-area > .mbti-info {
  margin-top: 5px;
  font-size: 3vh;
  font-weight: 100;
}
#header .tit-area > .mbti-info p {
  display: inline;
}
#header .tit-area > .mbti-info p span {
  margin-left: 10px;
  font-weight: 900;
}

/* section */
#section {
  width: 100%;
  display: block;
  padding: 0 120px;
}
#section > div {
  min-height: calc(100vh - 5em);
  margin-top: 150px;
  margin-bottom: 20px;
}

.team-purpose {
  display: flex;
  flex-direction: column;
}
.team-purpose .tit-area {
  font-size: 100px;
  letter-spacing: -0.11em;
  font-weight: 700;
  color: #0000005a;
}
.team-purpose .tit-area p {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #0000005a;
}
.team-purpose .purpose {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 900;
}
.team-purpose .purpose > p {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 300;
}
.team-purpose .purpose h3 {
  margin-top: 120px;
  color: #0000005a;
  font-size: 36px;
}
.team-purpose .purpose ul {
  max-width: 1400px;
  margin-top: 100px;
  display: flex;
  gap:40px; 
  justify-content: space-between;
}
.team-purpose .purpose ul li {
  width: 200px;
  height: 200px;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid #000;
  border-radius: 50%;
}
.team-purpose .purpose ul li:hover {
  background-color: #2c8d6e50;
}
.team-purpose ul li div {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.team-purpose .purpose ul li div p {
  font-size: 18px;
  font-weight: 400;
}
.team-purpose .purpose ul li div p.strong {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 500;
}
.team-purpose .purpose ul li div p.small {
  font-size: 15px;
}
.team-purpose .img-area {
  display: flex;
  gap: 20px;
}
.team-purpose .img-area > div {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.team-purpose .img-area > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team-purpose .img-area > div:nth-of-type(even) {
  margin-top: 30px;
}

.team-promise {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team-promise .tit-area {
  font-size: 100px;
  letter-spacing: -0.11em;
  font-weight: 700;
  color: #0000005a;
}
.team-promise .tit-area p {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #0000005a;
}
.team-promise .info-area {
  width: 100%;
  min-height: 400px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.team-promise .info-area .card-area {
  width: 1400px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.team-promise .info-area .card-area .card {
  width: 30%;
  max-width: 200px;
  height: 280px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 10px 5px 30px 7px rgba(0, 0, 0, 0.43);
}
.team-promise .info-area .card-area .card i {
  margin-top: 20px;
  display: block;
  font-size: 40px;
}
.team-promise .info-area .card-area .card .tit {
  margin-top: 60px;
  font-size: 14px;
  font-weight: 900;
  text-align: right;
}
.team-promise .info-area .card-area .card .txt {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  text-align: right;
}
.team-promise .info-area .card-area .card:nth-child(1) {
  margin-top: -20px;
}
.team-promise .info-area .card-area .card:nth-child(2) {
  margin-top: 20px;
}
.team-promise .info-area .card-area .card:nth-child(3) {
  margin-top: 0;
}
.team-promise .info-area .card-area .card:nth-child(4) {
  margin-top: 60px;
}
.team-promise .info-area .card-area .card:nth-child(5) {
  background-color: #2c8d6e94;
}
.team-promise .info-area .card-area .card:nth-child(5) i {
  color: #fff;
}
.team-promise .info-area .card-area .card:nth-child(5) .tit {
  font-size: 16px;
  color: #fff;
  text-align: right;
}
.team-promise .info-area .card-area .card:nth-child(5) .txt {
  font-size: 18px;
  color: #fff;
  text-align: right;
}

.team-promise .txt-area {
  width: 35%;
  margin-top: -20px;
}
.team-promise .txt-area ul .tit {
  padding-bottom: 30px;
  color: #2c8d6f;
  font-size: 20px;
  font-size: 24px;
  font-weight: 800;
}
.team-promise .txt-area ul li {
  margin-top: 15px;
  margin-top: 15px;
}
.team-promise .txt-area ul li:first-child {
  margin-top: 0;
}

.team-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team-photo .tit-area {
  font-size: 100px;
  letter-spacing: -0.11em;
  font-weight: 700;
  color: #0000005a;
}
.team-photo .tit-area p {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #0000005a;
}

.team-photo .member-area {
  max-width: 1400px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-photo .member-area li {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-photo .member-area li a .img-area {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 10px 5px 30px 7px rgba(0, 0, 0, 0.43);
  filter: grayscale(100%);
}
.team-photo .member-area li a .img-area:hover {
  filter: grayscale(20%);
}
.team-photo .member-area li a .img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}
.team-photo .member-area li a .txt {
  width: 100%;
  display: block;
  margin-top: 40px;
  font-weight: 600;
  text-align: center;
  color: #000;
  cursor: pointer;
  font-size: 25px;
}
.team-photo .member-area li a > p {
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
}

.members-container {
}
.members-container .tit-area {
  font-size: 100px;
  letter-spacing: -0.11em;
  font-weight: 700;
  color: #0000005a;
}
.members-container .tit-area p {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #0000005a;
}

.members-info {
  width: 1400px;
  height: calc(100vh - 20rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.members-info .info-area {
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  align-items: center;
}

.members-info .info-area .img-area {
  width: 240px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 5px 30px 7px rgba(0, 0, 0, 0.43);
  filter: grayscale(100%);
}
.members-info .info-area .img-area:hover {
  filter: grayscale(20%);
}
.members-info .info-area .img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  transform: scale(1.1);
}
.members-info .info-area .info-container {
  max-width: 600px;
}
.members-info .info-area .info-container .intro-area {
}
.members-info .info-area .info-container .intro-area .member-infolist {
  width: 100%;
  display: block;
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}
.members-info .info-area .info-container .members-otherinfo {
  margin-top: 20px;
}
.members-info .info-area .info-container .members-otherinfo span.blog {
  display: flex;
}
.members-info .info-area .info-container .members-otherinfo span.blog .img {
  width: 30px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}
.members-info .info-area .info-container .members-otherinfo span.blog .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.members-info .info-area .info-container .members-otherinfo span a {
  padding-left: 10px;
  margin-bottom: 20px;
  display: inline-block;
}

.members-info .info-area .info-container .members-otherinfo span a:hover {
  text-decoration: underline;
}

/* commets */


.team-commets{
  margin-top: 150px;
  margin-bottom:100px !important; 
  max-width: 1400px;
} 
.team-commets .tit-area {
  width:100%; 
  font-size: 100px;
  letter-spacing: -0.11em;
  font-weight: 700;
  color: #0000005a;
  line-height: 70px;
}
.team-commets .comment-area {
  width: 100%;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
.team-commets .comment-area .form-area {
  width: 25%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: flex-start;
}

.team-commets .comment-area .form-area .tit-area span {
  margin-left: 15px;
}
.team-commets .comment-area .form-area .tit-area i {
  margin-right: 10px;
}

.team-commets .comment-area .form-area .tit-area {
  font-size: 100px;
  letter-spacing: -0.11em;
  font-weight: 700;
  color: #0000005a;
  line-height: 70px;
}
.team-commets .form-area .tit-area span {
  margin-left: 15px;
}
.team-commets .form-area .tit-area i {
  margin-right: 10px;
}

.team-commets .form-area .input-area {
  display: flex;
  flex-direction: column;
}
.team-commets .form-area .input-area input[type="password"],
.team-commets .form-area .input-area input[type="text"],
.team-commets .form-area .input-area textarea {
  width: 100%;
  margin: 20px 0 20px 0;
  background-color: #fff;
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.5rem 1rem;
}
.team-commets .form-area .input-area textarea {
  height: auto;
}
.team-commets .form-area .input-area input[type="password"]:focus,
.team-commets .form-area .input-area input[type="text"]:focus,
.team-commets .form-area .input-area textarea:focus {
  background-color: rgba(26, 26, 26, 0.036);
}
.team-commets .form-area .input-area .btn {
  margin-left: auto;
  margin-top: 20px;
  background-color: #0000005a;
  border-radius: 6px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-align: center;
  padding: 0.5rem 1rem;
}
.team-commets .form-area .input-area .btn:hover {
  background-color: #000;
}
.team-commets .card-area {
  width: 68%;
  margin-right: -20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
}
.team-commets .card-area li {
  width: 23%;
  height: 250px;
  min-height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  overflow: auto;
}
.team-commets .card-area li strong {
  margin-bottom: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.team-commets .card-area li p {
  margin-bottom: 20px;
  word-wrap: break-word;
  line-height: 1.5;
}
.team-commets .card-area li .btn-area {
  text-align: right;
}
.team-commets .card-area .btn {
  margin-left: auto;
  background-color: #0000005a;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-align: center;
  padding: 0.5rem 1rem;
}
.team-commets .card-area .btn:nth-child(1) {
  margin-right: 8px;
}
.team-commets .card-area .btn:hover {
  background-color: #000;
}

/* footer */
#footer {
  padding: 0 120px;
  background-color: #000;
}
#footer .date-area {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .date-area > * {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
#btn-top {
  cursor: pointer;
  opacity: 0;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 0;
  border-radius: 50%;
  font: bold 20px monospace;
  transition: opacity 0.5s, transform 0.5s;
}
#btn-top.show {
  opacity: 1;
  transition: opacity 1s, transform 1s;
}

/* tablet */
.tablet #header, .mobile #header,
.tablet #section, .mobile #section,
.tablet #footer, .mobile #footer{
  padding: 0 50px;
}
.tablet #section > div,
.mobile #section > div {
  min-height: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
.tablet #header .tit-area > h2, .mobile #header .tit-area > h2  {
  font-size: 9vh;
}
.tablet #header .tit-area > .mbti-info {
  margin-top: 20px;
}

.tablet #header .date-area,
.tablet #footer .date-area {
  height: 80px;
}
.tablet #header .date-area > *,
.tablet #footer .date-area > * {
  font-size: 16px;
}
.tablet .team-purpose,
.mobile .team-purpose {
}
.tablet .team-purpose .purpose ul,
.mobile .team-purpose .purpose ul {
  width: 100%;
  margin-top: 40px;
  flex-wrap: wrap;
  row-gap: 20px;
}
.tablet .team-purpose .purpose ul li,
.mobile .team-purpose .purpose ul li {
}
.tablet .team-promise .info-area,
.mobile .team-promise .info-area {
  margin-top: 40px;
  flex-wrap: wrap;
}
.tablet .team-promise .info-area .card-area,
.mobile .team-promise .info-area .card-area {
  width: 100%;
  flex-wrap: wrap;
}
.tablet .team-promise .info-area .card-area .card,
.mobile .team-promise .info-area .card-area .card {
}
.tablet .team-promise .txt-area,
.mobile .team-promise .txt-area {
  width: 100%;
}
.tablet .team-photo .member-area,
.mobile .team-photo .member-area {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 50px;
}
.tablet .team-photo .member-area li,
.mobile .team-photo .member-area li {
  width: 50%;
  margin-bottom: 30px;
}
.tablet .members-info,
.mobile .members-info {
  width: 100%;
  height: 500px;
}
.tablet .members-info .info-area,
.mobile .members-info {
  gap: 20px;
}

.tablet .team-commets,
.mobile .team-commets{
}
.tablet .team-commets .comment-area,
.mobile .team-commets .comment-area{
  margin-top:50px; 
  flex-wrap: wrap;
  flex-direction: column;
}

.tablet .team-commets .comment-area .form-area,
.mobile .team-commets .comment-area .form-area{
  width:100%; 
  margin-bottom:40px;
}
.tablet .team-commets .card-area, 
.mobile .team-commets .card-area { 
  width:100%; 
  justify-content: space-between;
}

.tablet .team-commets .card-area li,
.mobile .team-commets .card-area li{
  width:31%; 
}

/* mobile */
.mobile #header,
.mobile #section,
.mobile #footer {
  padding: 0 20px;
}
.mobile #section > div {
  min-height: auto;
  margin-top: 40px;
  margin-bottom: 60px;
}
.mobile #header .date-area,
.mobile #footer .date-area {
  height: 50px;
}
.mobile #header .date-area > *,
.mobile #footer .date-area > * {
  font-size: 14px;
}
.mobile #header .tit-area {
  background-size: 80px 80px;
  background-position: 100% 40%;
}
.mobile #header .tit-area > h2  {
  font-size: 8vh;
}
.mobile #header .tit-area > .mbti-info {
  margin-top: 20px;
}
.mobile .team-purpose .purpose h3{
  font-size:20px; 
  margin-top: 50px;
}
.mobile .team-purpose .purpose > p {
  font-size: 16px;
}
.mobile .team-purpose .purpose ul{
  gap:20px; 
}
.mobile .team-purpose .purpose ul li {
  width: 130px;
  height: 130px;
}
.mobile .team-purpose .purpose ul li div p.strong {
  font-size: 15px;
}
.mobile .team-purpose .purpose ul li div p.small {
  font-size: 14px;
}
.mobile .team-purpose .tit-area {
  font-size: 60px;
}
.mobile .team-purpose .tit-area p {
  font-size: 16px;
}
.mobile .team-promise .tit-area {
  font-size: 60px;
}
.mobile .team-promise .tit-area p {
  font-size: 16px;
}
.mobile .team-promise .info-area .card-area {
  flex-flow: wrap;
  justify-content: space-between;
  gap: 0;
  margin-top:50px; 
}
.mobile .team-promise .info-area .card-area .card {
  width: 48%;
  height: 200px;
}
.mobile .team-promise .info-area .card-area .card .tit {
  margin-top: 20px;
}
.mobile .team-promise .info-area .card-area .card i {
  margin-top: 0;
  font-size: 25px;
}
.mobile .team-promise .info-area .card-area .card .txt {
  font-size: 15px;
}
.mobile .team-photo .tit-area {
  font-size: 60px;
}
.mobile .team-photo .tit-area p {
  font-size: 16px;
}

.mobile .team-photo .member-area li {
  min-height: auto;
}
.mobile .team-photo .member-area li .img-area {
  width: 150px;
  height: 150px;
}
.mobile .team-photo .member-area li .img-area {
  width: 120px;
  height: 120px;
}
.mobile .team-photo .member-area li a .txt {
  margin-top: 20px;
  font-size: 15px;
}
.mobile .team-photo .member-area li a > p {
  font-size: 15px;
}

.mobile .members-container .tit-area {
  font-size: 60px;
}
.members-container .tit-area p{
  font-size:16px;
}
.mobile .members-info .info-area {
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom:30px; 
  gap: 20px;
}
.mobile .team-promise .info-area .card-area {
  height: auto;
}

.mobile .members-info {
  height: 100%;
}

.mobile .members-info .info-area .info-container .intro-area .member-infolist{
  font-size: 15px;
}
.mobile .members-info .info-area .info-container .members-otherinfo span a{
  margin-bottom:10px;
  font-size:14px; 
}
.mobile .members-info .info-area .info-container .members-otherinfo span.blog .img{
  width:20px; 
  height:20px; 
}

.mobile .team-commets .tit-area{
  font-size:60px; 
}
.mobile .team-commets .form-area .input-area input[type="password"], 
.mobile .team-commets .form-area .input-area input[type="text"], 
.mobile .team-commets .form-area .input-area textarea{ 
  margin: 10px 0 10px 0; 
  font-size:15px; 
}
.mobile .team-commets .form-area .input-area .btn{
  margin-top:10px; 
  font-size:15px; 
  padding: 0.25rem 0.5rem;
}
.mobile .team-commets .card-area li{
  width:46%; 
  padding:10px; 
}
.mobile .team-commets .card-area .btn{
  padding: 0.25rem 0.5rem;
}
.mobile .team-commets .card-area .btn:nth-child(1){
  margin-right: 5px;
}
